@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.form-group {
  margin-bottom: 0; }

a:hover, a:focus {
  text-decoration: none; }

.estimate .page-header {
  background-image: url(/assets/images/estimate/page_header_bg03.jpg); }
  .estimate .page-header .lnb ul li {
    width: 586px;
    margin: 0 auto; }

/* request-list */
.request-list {
  padding-top: 90px;
  padding-bottom: 110px; }
  .request-list .search-form {
    margin-bottom: 60px; }
  .request-list .table-wrap {
    margin-bottom: 40px; }
  .request-list .btn-area p {
    text-align: right; }
  .request-list .paging {
    margin-top: 60px; }

/* request-write */
.request-write {
  padding-top: 90px;
  padding-bottom: 120px; }
  .request-write .table-wrap .table tbody th {
    font-size: 14px;
    color: #666;
    font-weight: 400;
    vertical-align: middle;
    padding-left: 30px;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    background-color: #f3f3f3; }
    .request-write .table-wrap .table tbody th.u-content {
      padding-top: 20px;
      vertical-align: top; }
      .request-write .table-wrap .table tbody th.u-content label small {
        font-size: 14px;
        color: #999; }
  .request-write .table-wrap .table tbody td {
    font-size: 13px;
    color: #333;
    text-align: left;
    padding: 10px 30px;
    border-color: #dfdfdf; }
    .request-write .table-wrap .table tbody td .form-group .form-control {
      display: inline-block; }
    .request-write .table-wrap .table tbody td .form-group textarea {
      width: 850px;
      height: 175px; }
    .request-write .table-wrap .table tbody td.name .form-group .form-control {
      width: 250px; }
    .request-write .table-wrap .table tbody td.email .form-group .form-control {
      display: inline-block;
      width: 150px; }
      .request-write .table-wrap .table tbody td.email .form-group .form-control:nth-of-type(1) {
        margin-right: 5px; }
      .request-write .table-wrap .table tbody td.email .form-group .form-control:nth-of-type(2) {
        margin-left: 5px; }
    .request-write .table-wrap .table tbody td.email .form-group select {
      display: inline-block;
      vertical-align: top;
      margin-left: 30px; }
    .request-write .table-wrap .table tbody td.check label {
      position: relative;
      font-size: 13px;
      color: #333;
      font-weight: 300;
      margin-right: 40px;
      padding-left: 18px; }
      .request-write .table-wrap .table tbody td.check label:last-child {
        margin-right: 0; }
      .request-write .table-wrap .table tbody td.check label input {
        position: absolute;
        top: -1px;
        left: 0; }
    .request-write .table-wrap .table tbody td.phone .form-group .form-control {
      width: 100px; }
      .request-write .table-wrap .table tbody td.phone .form-group .form-control:nth-of-type(1) {
        margin-left: 6px;
        margin-right: 6px; }
      .request-write .table-wrap .table tbody td.phone .form-group .form-control:nth-of-type(2) {
        margin-left: 6px; }
    .request-write .table-wrap .table tbody td.phone .form-group select {
      display: inline-block;
      width: 70px;
      margin-right: 6px; }
    .request-write .table-wrap .table tbody td.pr-count .form-group .form-control {
      margin-right: 15px; }
    .request-write .table-wrap .table tbody td.subject .form-group .form-control {
      width: 850px; }
    .request-write .table-wrap .table tbody td.file .form-group .form-control {
      margin-right: 7px; }
    .request-write .table-wrap .table tbody td.file .form-group label {
      display: inline-block;
      vertical-align: top; }
      .request-write .table-wrap .table tbody td.file .form-group label .icon-upload {
        display: block;
        width: 30px;
        height: 30px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        line-height: 26px;
        margin: 0;
        background-color: #c1c1c1; }
    .request-write .table-wrap .table tbody td.captcha .form-group small {
      display: block;
      font-size: 12px;
      color: #999;
      margin-bottom: 10px; }
    .request-write .table-wrap .table tbody td.captcha .form-group .form-control {
      margin-bottom: 10px; }
    .request-write .table-wrap .table tbody td.captcha .form-group .attention {
      display: inline-block;
      font-size: 12px;
      color: #666; }
      .request-write .table-wrap .table tbody td.captcha .form-group .attention:before {
        content: "※";
        margin: 0 10px 0 5px; }
    .request-write .table-wrap .table tbody td .captcha-area .captcha-box {
      display: inline-block;
      width: 250px;
      height: 70px;
      font-size: 20px;
      color: #666;
      line-height: 70px;
      text-align: center;
      margin-right: 10px;
      background-color: #f8d6cd; }
    .request-write .table-wrap .table tbody td .captcha-area .captcha-btn {
      display: inline-block;
      vertical-align: bottom; }
      .request-write .table-wrap .table tbody td .captcha-area .captcha-btn .btn {
        width: 120px;
        height: 30px;
        font-size: 12px;
        color: #999;
        line-height: 28px;
        text-align: center;
        padding: 0;
        border-radius: 0;
        border: 1px solid #dfdfdf; }
        .request-write .table-wrap .table tbody td .captcha-area .captcha-btn .btn:before {
          font-size: 12px;
          font-family: "fontello";
          display: inline-block;
          content: "\E808";
          margin-right: 5px; }
  .request-write .btn-area {
    margin-top: 40px; }
    .request-write .btn-area p .btn-sm {
      width: 120px;
      height: 40px;
      line-height: 38px; }

/* request-view */
.request-view {
  padding-top: 90px;
  padding-bottom: 120px; }
  .request-view .view {
    border-top: 2px solid #9b7e58; }
    .request-view .view .article-header {
      text-align: left;
      padding: 35px 30px;
      background-color: #f3f3f3;
      border-bottom: 1px solid #dfdfdf; }
      .request-view .view .article-header h4 {
        font-size: 18px;
        color: #222;
        font-weight: 400; }
    .request-view .view .article-content > div {
      padding: 18px 35px 18px 30px;
      border-bottom: 1px solid #dfdfdf;
      background-color: #fff; }
      .request-view .view .article-content > div .after-line {
        font-size: 0; }
        .request-view .view .article-content > div .after-line li {
          display: inline-block;
          vertical-align: top; }
          .request-view .view .article-content > div .after-line li:after {
            font-size: 12px;
            color: #e3e3e3;
            content: "|";
            padding: 0 15px; }
          .request-view .view .article-content > div .after-line li:last-child:after {
            content: "";
            padding: 0; }
          .request-view .view .article-content > div .after-line li dl {
            display: inline-block;
            font-size: 0; }
            .request-view .view .article-content > div .after-line li dl dt {
              display: inline-block;
              font-size: 13px;
              color: #666;
              font-weight: 300;
              margin-right: 10px; }
            .request-view .view .article-content > div .after-line li dl dd {
              display: inline-block;
              font-size: 13px;
              color: #666;
              font-weight: 300; }
          .request-view .view .article-content > div .after-line li label {
            position: relative;
            font-size: 13px;
            color: #333;
            font-weight: 300;
            margin-right: 40px;
            padding-left: 18px; }
            .request-view .view .article-content > div .after-line li label:last-child {
              margin-right: 0; }
            .request-view .view .article-content > div .after-line li label input {
              position: absolute;
              top: -1px;
              left: 0; }
      .request-view .view .article-content > div.user-info {
        overflow: hidden; }
        .request-view .view .article-content > div.user-info ul {
          float: left; }
        .request-view .view .article-content > div.user-info .print {
          float: right;
          font-size: 13px;
          color: #666; }
          .request-view .view .article-content > div.user-info .print:before {
            font-size: 16px;
            color: #666;
            font-family: "fontello";
            content: "\E809";
            padding-right: 10px; }
      .request-view .view .article-content > div.product-type ul li:after {
        padding: 0 20px; }
      .request-view .view .article-content > div.product-type ul li dl dt {
        color: #666; }
        .request-view .view .article-content > div.product-type ul li dl dt.first {
          margin-right: 25px; }
      .request-view .view .article-content > div.product-type ul li dl dd {
        color: #999; }
      .request-view .view .article-content > div.content {
        min-height: 335px;
        font-size: 15px;
        color: #4e4e4e;
        line-height: 25px;
        padding-top: 45px;
        padding-bottom: 45px; }
      .request-view .view .article-content > div.file-attach dl {
        font-size: 0; }
        .request-view .view .article-content > div.file-attach dl dt {
          display: inline-block;
          font-size: 13px;
          font-weight: 300;
          vertical-align: top;
          margin-right: 80px;
          padding-left: 22px;
          background-image: url(/assets/images/sub/file_attach_ico.gif);
          background-repeat: no-repeat;
          background-position: 0 50%; }
        .request-view .view .article-content > div.file-attach dl dd {
          display: inline-block; }
          .request-view .view .article-content > div.file-attach dl dd a {
            display: inline-block;
            font-size: 13px;
            font-weight: 300;
            color: #777;
            vertical-align: top;
            padding-bottom: 4px;
            margin-right: 10px;
            border-bottom: 1px solid #c2c2c2;
            box-shadow: 0px 1px 0px 0px #e2e2e2; }
            .request-view .view .article-content > div.file-attach dl dd a:last-child {
              margin-right: 0; }
            .request-view .view .article-content > div.file-attach dl dd a:after {
              content: ","; }
            .request-view .view .article-content > div.file-attach dl dd a:last-child:after {
              content: ""; }
    .request-view .view .btn-area {
      overflow: hidden;
      margin-top: 40px; }
      .request-view .view .btn-area p:nth-of-type(1) {
        float: left; }
      .request-view .view .btn-area p:nth-of-type(2) {
        float: right; }
      .request-view .view .btn-area p .btn {
        margin-right: 10px; }

/* comment-area */
.comment-area .write {
  margin-top: 60px;
  border: 1px solid #ccc;
  padding: 20px 30px 30px;
  background-color: #f9f9f9; }
  .comment-area .write h5 {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px; }
  .comment-area .write .form-group {
    display: inline-block;
    vertical-align: top; }
    .comment-area .write .form-group .form-control {
      width: 986px;
      height: 80px;
      font-size: 13px;
      line-height: 25px;
      border-color: #ccc; }
  .comment-area .write .comment-btn {
    display: inline-block; }
    .comment-area .write .comment-btn .btn-lg {
      width: 80px;
      height: 80px;
      font-size: 12px;
      color: #fff;
      text-align: center;
      line-height: 80px;
      margin-left: 8px;
      padding: 0;
      vertical-align: top;
      border-radius: 0;
      background-color: #666; }
.comment-area .comment-list li {
  padding: 20px 30px;
  padding-right: 0;
  border-bottom: 1px solid #dfdfdf; }
  .comment-area .comment-list li .title {
    overflow: hidden; }
    .comment-area .comment-list li .title h6 {
      float: left;
      font-size: 13px;
      font-weight: 500;
      color: #333; }
      .comment-area .comment-list li .title h6 i {
        display: inline-block;
        font-size: 13px;
        font-style: normal;
        color: #666;
        margin-left: 10px;
        font-family: 'Lato', sans-serif; }
    .comment-area .comment-list li .title .link-list {
      float: right;
      font-size: 0; }
      .comment-area .comment-list li .title .link-list li {
        display: inline-block;
        padding: 0;
        border-bottom: 0; }
        .comment-area .comment-list li .title .link-list li:after {
          font-size: 13px;
          color: #d8d8d8;
          content: "|";
          padding: 0 5px; }
        .comment-area .comment-list li .title .link-list li:last-child:after {
          content: "";
          padding: 0; }
        .comment-area .comment-list li .title .link-list li a {
          font-size: 13px;
          color: #999; }
  .comment-area .comment-list li .comment {
    font-size: 13px;
    color: #999;
    font-weight: 300;
    margin-top: 15px;
    padding-right: 30px; }
  .comment-area .comment-list li.reply {
    padding-left: 60px;
    background-image: url(/assets/images/estimate/reply_bg.png);
    background-repeat: no-repeat;
    background-position: 35px 50%; }

/* pw-confirm */
.pw-confirm {
  padding-top: 90px;
  padding-bottom: 120px; }
  .pw-confirm .confirm {
    display: block;
    width: 830px;
    margin: 0 auto;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 70px;
    border: 1px solid #dfdfdf;
    background-color: #fff; }
    .pw-confirm .confirm .figure {
      margin-bottom: 25px; }
    .pw-confirm .confirm .figcaption {
      font-size: 27px;
      color: #9b7e58; }
    .pw-confirm .confirm i {
      display: block;
      font-style: normal;
      font-size: 30px;
      color: #9b7e58;
      margin-top: 10px;
      letter-spacing: 8px; }
    .pw-confirm .confirm .attention {
      font-size: 14px;
      color: #666;
      margin-bottom: 45px; }
    .pw-confirm .confirm .form-group .form-control {
      display: inline-block;
      width: 220px;
      height: 40px;
      margin-right: 13px; }
    .pw-confirm .confirm .form-group .btn-area {
      vertical-align: top;
      display: inline-block; }
      .pw-confirm .confirm .form-group .btn-area p .btn-sm {
        height: 40px;
        line-height: 38px; }

/*# sourceMappingURL=estimate.css.map */
