@import 'common';

label {
    font-size: 14px;
    color: #666;
    font-weight: 400;
    margin-bottom: 0;
}
select {
    height: 30px;
    font-size: 13px;
    padding: 5px 10px;
    border: 1px solid #dfdfdf;
    &:hover,&:focus {
        border-color: #dfdfdf;
        box-shadow: none;
    }
}
.form-control {
    width: 400px;
    height: 30px;
    font-size: 13px;
    padding: 5px 10px;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #dfdfdf;
    &:hover,&:focus {
        border-color: #dfdfdf;
        box-shadow: none;
    }
}

.sub {
    #header {
        border-top: 3px solid #a5be1e;
        border-bottom: 0;
        #gnb {
            height: 80px;
            width: 100%;
            .logo {
                left: 30px;
            }
            .menu-list {
                > li {
                    > a {
                        line-height: 80px;
                    }
                }
            }
            .quick-menu {
                right: 30px;
            }
        }
    }
    main {
        min-height: 650px;
        background-image: url(/assets/images/sub/sub_body_bg.gif);
    }
    #footer {
        .policy {
            ul {
                width: 100%;
                padding-left: 30px;
            }
        }
        .company {
            width: 100%;
            padding-left: 30px;
        }
    }
}
/* lnb 헤더 영역 */
.page-header {
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(/assets/images/sub/page_header_bg01.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    > h2 {
        font-size: 57px;
        font-weight: 500;
        color: #fff;
        padding-top: 80px;
        text-shadow: 0px 0px 6px #000;
    }
    > p {
        font-size: 16px;
        color: #fff;
        opacity: .6;
        margin-top: 26px;
        padding-bottom: 80px;
    }
    .lnb {
        border-top: 1px solid rgba(255, 255, 255, .2);
        ul {
            font-size: 0;
            li {
                width: 25%;
                display: inline-block;
                a {
                    margin-top: -1px;
                    display: block;
                    border-top: 1px solid rgba(255, 255, 255, .2);
                    font-size: 16px;
                    color: #fff;
                    line-height: 57px;
                }
                &.active {
                    a {
                        border-top: 1px solid #a5be1e;
                        color: #a5be1e;
                    }
                }
            }
        }
    }
}

/* page-title */
.page-title {
    position: relative;
    text-align: center;
    padding-top: 80px;
    .breadcrumb {
        position: absolute;
        top: 80px;
        right: 0;
        font-size: 0;
        padding: 0;
        margin: 0;
        background: none;
        li {
            font-size: 13px;
            color: #aaa;
            a {
                .icon-home {
                    color: #a5be1e;
                }
            }
            &:first-child:before {
                content: "";
            }
            &:before {
                content: "\E803";
                font-family: "fontello";
                padding: 0 10px;
                color: #aaa;
                font-size: 13px;
            }
        }
    }
    small {
        display: block;
        font-size: 14px;
        color: #666;
        font-weight: 400;
        @include lato();
    }
    hr {
        display: block;
        width: 42px;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
        border-top: 2px solid #999;
    }
    .title {
        font-size: 36px;
        color: #070c13;
    }
    > p {
        font-size: 24px;
        color: #585858;
        margin-top: 70px;
    }
}

/* history-list */
.history {
    .col-xs-offset-1 {
        padding-left: 0;
    }
    .history-list {
        margin-bottom: 90px;
        h4 {
            font-size: 44px;
            color: #333;
            font-weight: 400;
            margin-bottom: 45px;
            @include lato();
            b {
                font-weight: 600;
            }
        }
        ol {
            width: 500px;
            li {
                width: 100%;
                padding: 20px 0;
                border-bottom: 1px solid #ddd;
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    border-bottom: 0;
                    padding-bottom: 0;
                }
                dl {
                    position: relative;
                    dt {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 16px;
                        color: #333;
                        font-weight: bold;
                        line-height: 30px;
                        letter-spacing: -1px;
                        @include lato();
                    }
                    dd {
                        font-size: 16px;
                        color: #666;
                        line-height: 30px;
                        font-weight: 300;
                        vertical-align: top;
                        padding-left: 75px;
                    }
                }
            }
        }
        &.list-2 {
            margin-bottom: 0;
            padding-left: 55px;
        }
    }
    .figure {
        padding-top: 55px;
    }
}

/* group */
.group {
    padding-top: 120px;
    padding-bottom: 140px;
    .figure {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}

/* paging */
.paging {
    text-align: center;
    .pagination {
        height: 30px;
        margin: 0;
        display: inline-block;
        li {
            text-align: center;
            a {
                display: block;
                width: 30px;
                height: 30px;
                font-size: 15px;
                font-weight: 400;
                color: #888;
                line-height: 30px;
                padding: 0;
                border: 0;
                @include lato();
                background: none;
                i {
                    display: inline-block;
                    font-size: 18px;
                    color: #9b7e58;
                }
                &.angle-right {
                    margin-left: 10px;
                }
                &.angle-left {
                    margin-right: 10px;
                }
            }
            &.active {
                a {
                    color: #fff;
                    background-color: #9b7e58;
                }
            }
        }
    }
}

/* search-form */
.search-form {
    font-size: 0;
    text-align: center;
    .form-group {
        display: inline-block;
        select {
            width: 100px;
            font-size: 13px;
            color: #333;
        }
        input {
            width:  350px;
            font-size: 13px;
            color: #333;
        }
        .form-control {
            display: inline-block;
            height: 38px;
            margin-right: 5px;
            padding: 5px 10px;
            border-radius: 0;
            border: 1px solid #ddd;
            box-shadow: none;
        }
    }
    .btn {
        display: inline-block;
        width: 38px;
        height: 38px;
        text-align: center;
        line-height: 38px;
        color: #9b7e58;
        vertical-align: top;
        padding: 0;
        border-radius: 0;
        background-color: #e4e4e4;
    }
}

/* table-wrap */
.table-wrap {
    .table {
        margin-bottom: 0;
        border-top: 1px solid #9b7e58;
        thead {
            tr {
                th {
                    font-size: 14px;
                    color: #333;
                    text-align: center;
                    padding: 13px 0;
                    font-weight: 400;
                    vertical-align: middle;
                    border: 0;
                    border-bottom: 1px solid #dfdfdf;
                    background-color: #f3f3f3;
                }
            }
        }
        tbody {
            tr {
                td {
                    font-size: 14px;
                    color: #666;
                    text-align: center;
                    font-weight: 300;
                    padding: 17px 0;
                    vertical-align: middle;
                    border: 0;
                    border-bottom: 1px solid #dfdfdf;
                    background-color: #fff;
                    a {
                        color: #666;
                    }
                    &.subject {
                        padding-left: 30px;
                        text-align: left;
                    }
                    &.num {
                        font-weight: 400;
                        @include lato();
                    }
                    &.date {
                        font-weight: 400;
                        @include lato();
                    }
                    &.count {
                        font-weight: 400;
                        @include lato();
                    }
                    &.result {
                        p {
                            display: inline-block;
                            width: 57px;
                            height: 25px;
                            font-size: 11px;
                            color: #fff;
                            font-weight: 400;
                            line-height: 23px;
                            border-radius: 4px;
                            &.finish {
                                border: 1px solid #c0a889;
                                background-color: #c0a889;
                            }
                            &.ongoing {
                                border: 1px solid #999;
                                background-color: #999;
                            }
                            &.t-request {
                                color: #9b7e58;
                                background-color: #fff;
                                border: 1px solid #9b7e58;
                            }
                        }
                    }
                    i {
                        display: inline-block;
                        font-style: normal;
                        vertical-align: middle;
                        margin-top: -4px;
                        &:last-child {
                            margin-right: 0;
                        }
                        &.comment-num {
                            font-size: 11px;
                            color: #999;
                            margin-right: 3px;
                            &:before {
                                content: "(";
                                font-size: 11px;
                                color: #999;
                                
                            }
                            &:after {
                                content: ")";
                                font-size: 11px;
                                color: #999;
                            }
                        }
                        &.attach {
                            width: 11px;
                            height: 11px;
                            background-image: url(/assets/images/sub/attach_icon.gif);
                            background-repeat: no-repeat;
                            background-position: 0 0;
                        }
                        &.icon-key {
                            font-size: 14px;
                            color: #666;
                        }
                    }
                }
            }
        }
    }
}

/* btn-area */
.btn-area {
    font-size: 0;
    p {
        text-align: center;
        .btn {
            display: inline-block;
            font-size: 13px;
            text-align: center;
            padding: 0;
            border: 0;
            border-radius: 0;
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
            &.btn-sm {
                width: 100px;
                height: 34px;
                line-height: 32px;
            }
            &.btn-beige {
                color: #fff;
                border: 1px solid #9b7e58;
                background-color: #9b7e58;
            }
            &.btn-gray {
                color: #fff;
                border: 1px solid #666;
                background-color: #666;
            }
            &.btn-default {
                line-height: 32px;
                color: #666;
                border: 1px solid #d2d2d2;
                background-color: #fff;
            }
        }
    }
}























